<mat-toolbar>
    <span>Nyk App</span>
    <span class="example-spacer"></span>

    <mat-icon>
        Token expire in {{tokenExpire$|async}}
    </mat-icon>
</mat-toolbar>


<nyk-user-login-required *ngIf="(showLoginForm$|async)"></nyk-user-login-required>


<div class="row" *ngIf="(tokenExpire$|async)">
    <div class="col-md-3">
        <a mat-raised-button (click)="store.dispatch(actions.CUSTOMER_GET_LIST)">Customers</a>
        <a mat-raised-button (click)="store.dispatch(actions.ACCOUNT_GET_LIST)">Accounts</a>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>




