<md-toolbar>
    <span>Nyk App</span>
    <span class="example-spacer"></span>

    <md-icon>
        Token expire in {{tokenExpire$|async}}
    </md-icon>
</md-toolbar>


<nyk-user-login-required *ngIf="(showLoginForm$|async)"></nyk-user-login-required>

<div class="row" *ngIf="(tokenExpire$|async)">
    <div class="col-md-3">
        <a md-raised-button [routerLink]="[routes.CUSTOMER_LIST]">Customers</a>
        <a md-raised-button [routerLink]="[routes.ACCOUNT_LIST]">Accounts</a>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>




