<div *ngIf="loginProcess$|async" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>
<form *ngIf="!(loginProcess$|async)" [formGroup]="loginForm" novalidate
      (ngSubmit)="tryLogin(loginForm.value, loginForm.valid)">
    <div class="form-group text-center">
        <mat-input-container>
            <input matInput type="text" class="form-control" formControlName="login" name="login" placeholder="Login">
            <mat-hint *ngIf="submitted && loginForm.hasError('required', ['login'])" class="text-danger">
                Email is required
            </mat-hint>
            <mat-hint *ngIf="submitted && loginForm.hasError('minlength', ['login'])" class="text-danger">
                Invalid length
            </mat-hint>
        </mat-input-container>
    </div>
    <div class="form-group text-center">
        <mat-input-container>
            <input matInput type="password" class="form-control" formControlName="password" name="password"
                   placeholder="password">
            <mat-hint *ngIf="submitted && loginForm.hasError('required', ['password'])" class="text-danger">
                Password is required
            </mat-hint>
            <mat-hint *ngIf="submitted && loginForm.hasError('minlength', ['password'])" class="text-danger">
                Minimum length is 5
            </mat-hint>
        </mat-input-container>
    </div>

    <div class="text-center">
        <button type="submit" color="accent" class="btn btn-default" mat-raised-button>Login</button>
    </div>
    <mat-card>
        <mat-card-content class="d-flex justify-content-between">
            <div>
                Default data:
                Login: 'test-clientid', <br>
                Password: 'password' <br>
            </div>
            <div>
                <button mat-raised-button (click)="setDefaultData()" type="button">Set default data</button>
            </div>
        </mat-card-content>
    </mat-card>
</form>