<div class="d-flex justify-content-center">
    <md-card class="example-card col-6">
        <md-card-header>
            <md-card-title>
                <strong>Login required</strong></md-card-title>
        </md-card-header>
        <md-card-content>
            <p>
                Session expired. Click to login.
            </p>
        </md-card-content>
        <md-card-actions class="text-center">
            <button md-raised-button type="button" color="primary" (click)="openLoginForm()">
                Login
            </button>
        </md-card-actions>
    </md-card>


</div>