<div class="d-flex justify-content-center">
    <mat-card class="example-card col-6">
        <mat-card-header>
            <mat-card-title>
                <strong>Login required</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Session expired. Click to login.
            </p>
        </mat-card-content>
        <mat-card-actions class="text-center">
            <button mat-raised-button type="button" color="primary" (click)="openLoginForm()">
                Login
            </button>
        </mat-card-actions>
    </mat-card>


</div>